{{~#if model.isSinglePage ~}}
<span id="typedoc-plugin-markdown"></span>
{{~/if~}}
{{> header}}
{{newLine}}
{{~#with model~}}
{{~#if hasComment~}}
{{> comment}}
{{~/if~}}
{{~/with}}
{{~#if model.typeParameters}}
## Type parameters
{{~#with model}}{{> typeParameters}}{{/with}}
{{~/if}}
{{~#if model.typeHierarchy}}
## Hierarchy

{{#with model.typeHierarchy~}}{{> hierarchy}}{{/with}}
{{newLine}}
{{~/if}}
{{~#if model.implementedTypes}}
## Implements

{{#each model.implementedTypes}}
* {{> type}}
{{/each}}
{{newLine}}
{{~/if}}
{{~#if model.implementedBy}}
## Implemented by

{{#each model.implementedBy}}
* {{> type}}
{{/each}}
{{newLine}}
{{~/if}}
{{~#if model.signatures}}
## Callable
{{#with model}}{{> member.signatures}}{{/with}}
{{newLine}}
{{~/if}}
{{~#if model.indexSignature}}
## Indexable

\[{{~#each model.indexSignature.parameters}}{{name}}: {{#with type}}{{>type}}{{/with}}{{/each}}\]:&nbsp;
{{~#with model.indexSignature.type}}{{>type}}{{/with}}
{{~#with model.indexSignature}}
{{> comment}}
{{~/with}}
{{~#if model.indexSignature.type.declaration}}
{{~#with model.indexSignature.type.declaration}}
{{> parameter}}
{{~/with}}
{{~/if}}
{{~/if}}
{{~#with model}}
{{ compileIndex this }}
{{ compileRootMembers this }}
{{~/with}}