{{!-- {{ breadcrumbs }} --}}
{{#unless model.hideBreadcrumbs}}[{{project.name}}](../index.md){{~#with model~}}{{> breadcrumb}}{{/with}}{{newLine}}{{/unless}}
{{!-- {{ readme }} --}}
{{~#if model.displayReadme ~}}
{{{model.readme}}}
{{~/if~}}
{{newLine}}
{{!-- {{ title }} --}}
{{~#if model.isSinglePage ~}}
<span id="typedoc-plugin-markdown"></span>
{{newLine}}
{{~/if~}}
# {{#unless model.isIndex }}{{model.kindString }}:{{/unless}} {{ displaySafeText model.name }}
{{#compact}}
{{~#with model~}}
{{~#unless displayIndexTitle~}}
{{~/unless}}
{{~/with}}
{{/compact}}